@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.wrong {
  width: 50%;
  height: 100px;
  background-color: lightcoral;
  font-size: 50px;
  outline:rgb(204, 207, 207);
}

.blank {
  width: 50%;
  height: 100px;
  outline:rgb(204, 207, 207);
  font-size: 50px;
}

.helpText {
  font-family: 'Roboto';
  font-weight: 700;
  color: rgb(204, 207, 207);
}